<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSaveSong()" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="text" formControlName="title" required placeholder="Song Title">
      <mat-error *ngIf="form.get('title').invalid">Please enter a title.</mat-error>
    </mat-form-field><br>
    <mat-form-field>
      <input matInput type="text" formControlName="releaseDate" required placeholder="Release Date">
      <mat-error *ngIf="form.get('releaseDate').invalid">Please enter a release date.</mat-error>
    </mat-form-field><br>
    <mat-form-field>
      <mat-select formControlName="songType" required placeholder="Song Type">
        <mat-option [value]="SongType.Normal">Normal</mat-option>
        <mat-option [value]="SongType.Instrumental">Instrumental</mat-option>
        <mat-option [value]="SongType.BackgroundVocals">Background Vocals</mat-option>
        <mat-option [value]="SongType.Other">Other</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="picker">
      <button mat-stroked-button type="button" (click)="audioFilePicker.click()">Pick Audio</button>
      <input type="file" #audioFilePicker (change)="onAudioPicked($event)" style="display: none">
    </div>
    <span *ngIf="audioFile">{{ audioFile.name }}</span>
    <div class="upload" *ngIf="uploadingAudio">
      <div>Uploading Audio...</div>
      <div class="upload-bar">
        <div class="upload-percent" [style.width.%]="percentAudioUploaded"></div>
      </div>
    </div>
    <img *ngIf="imageData" [src]="imageData">
    <div class="picker">
      <button mat-stroked-button type="button" (click)="imageFilePicker.click()">Pick Background Image</button>
      <input type="file" #imageFilePicker (change)="onImagePicked($event)" style="display: none">
    </div>
    <div class="upload" *ngIf="uploadingImage">
      <div>Uploading Image...</div>
      <div class="upload-bar">
        <div class="upload-percent" [style.width.%]="percentImageUploaded"></div>
      </div>
    </div>
    <!-- <div class="image-preview">
      <img [src]="imagePreview" [alt]="form.value.title" *ngIf="imagePreview && imagePreview !== '' && form.get('image').valid">
    </div> -->
    <!-- <mat-form-field>
      <textarea rows="6" matInput formControlName="content" placeholder="Post Content"></textarea>
      <mat-error *ngIf="form.get('content').invalid">Please enter content.</mat-error>
    </mat-form-field> -->
    <button mat-raised-button color="accent" type="submit">Save Song</button>
  </form>

  <div>
    <button mat-stroked-button type="button" (click)="csvFilePicker.click()">Pick CSV</button>
    <input type="file" #csvFilePicker (change)="onCsvPicked($event)" style="display: none">
  </div>

  <!-- <button mat-raised-button color="accent" (click)="importCSV()">Import CSV</button> -->
</mat-card>
